/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 2rem;
    background: #FFEFEF;
}

.logo {
    width: 120px;
    height: 30px;
    margin-left: 30px;
}

.nav-links {
    display: flex;
    gap: 40px;
    list-style: none;
}

.nav-links li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
.nav-icons > span >img{
  padding-left: 15px;
}


/* Hero Section */
.hero-section {
    display: flex;
    flex: 0.7;
    width: 100%;
    flex-wrap: wrap;
    padding: 3rem;
    background: #FFEFEF;
    height: 100vh;
}
.content {
    flex: 1 1 50%;
    padding: 1rem;
    text-align: left;
    margin-top: 120px;
}



.hero-section h1 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
    text-align: left;
    
    
}

.hero-section p {
    margin-bottom: 6rem;
    font-size: 1.60rem;
    color: #7B7E86;
    text-align: left;
}

.cta-buttons {
    display: flex;
    justify-content:left;
    gap: 1rem;
   
   
}

.cta-buttons button {
    padding: 0.8rem 1.5rem;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}

.buy-now {
    background: linear-gradient(90deg,#9796F0 ,#FBC7D4 );
    color: #fff;
    width: 200px;
    height: 50px;
}

.app-store {
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    width: 143px;
    height: 50px;

}

.hero-image > span >img{
 width: 700px;
 height: 800px;
}

.hero-image {
    flex: 1 1 50%;
    height: 300px;
    border-radius: 15px;
}
.hero-image {
    margin-top: -4rem;
  
}

/* Footer */
footer {
    text-align: center;
    padding: 1rem;
    background-color: #fefefe;
}

/* Responsive Design */
@media (max-width: 940px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 2rem 2rem;
        background: #FFEFEF;
    }
/* Hero Section */
.hero-section {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding: 3rem;
    background: #FFEFEF;
    height: 120vh;
}
.content {
    flex: 1 1 50%;
    padding: 0.5rem;
    text-align: left;
    margin-top: 50px;
    
}
.nav-icons{
    display: none;
}
.nav-icons>span{
    margin-right: 25px;
  }
  

    .hero-section {
    flex-direction: row;
       
    }
    .hero-image > span >img{
        width: 400px;
        height: 400px;
       }

    .hero-image {
        margin-top: -2rem;
      
    }

    .hero-section h1 {
        font-size: 1.4rem;
    }
    .hero-section p {
        margin-bottom: 6rem;
        font-size: 0.8rem;
        justify-content: right;
        color: #7B7E86;
        text-align: left;
    }
    

    .cta-buttons {
        flex-direction: row;
        margin-top: -40px;
        gap: 0.5rem;
    }
}

/* Responsive Design */
@media (max-width: 902px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 2rem 2rem;
        background: #FFEFEF;
    }
/* Hero Section */
.hero-section {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding: 3rem;
    background: #FFEFEF;
    height: 120vh;
}
.content {
    flex: 1 1 50%;
    padding: 0.5rem;
    text-align: left;
    margin-top: 50px;
    
}
.nav-icons{
    display: none;
}
.nav-icons>span{
    margin-right: 25px;
  }
  

    .hero-section {
    flex-direction: row;
       
    }
    .hero-image > span >img{
        width: 300px;
        height: 300px;
       }

    .hero-image {
        margin-top: -2rem;
      
    }

    .hero-section h1 {
        font-size: 1.1rem;
    }
    .hero-section p {
        margin-bottom: 6rem;
        font-size: 0.3rem;
        justify-content: right;
        color: #7B7E86;
        text-align: left;
    }
    .cta-buttons button {
        padding: 0.4rem 1rem;
        border: none;
        cursor: pointer;
        font-size: 0.5rem;
    }
    .buy-now {
        background: linear-gradient(90deg,#9796F0 ,#FBC7D4 );
        color: #fff;
        width: 100px;
        height: 25px;
    }
    
    .app-store {
        background-color: #333;
        color: #fff;
        border-radius: 5px;
        width: 71.50px;
        height: 25px;
    
    }

    .cta-buttons {
        flex-direction: row;
        margin-top: -40px;
        gap: 0.5rem;
    }
}

/* Responsive Design */
@media (max-width: 938px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 2rem 2rem;
        background: #FFEFEF;
    }
/* Hero Section */
.hero-section {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding: 3rem;
    background: #FFEFEF;
    height: 120vh;
}
.content {
    flex: 1 1 50%;
    padding: 0.5rem;
    text-align: left;
    margin-top: 50px;
    
}
.nav-icons{
    display: none;
}
.nav-icons>span{
    margin-right: 25px;
  }
  

    .hero-section {
    flex-direction: row;
       
    }
    .hero-image > span >img{
        width: 300px;
        height: 300px;
       }

    .hero-image {
        margin-top: -2rem;
      
    }

    .hero-section h1 {
        font-size: 1.1rem;
    }
    .hero-section p {
        margin-bottom: 6rem;
        font-size: 0.3rem;
        justify-content: right;
        color: #7B7E86;
        text-align: left;
    }
    

    .cta-buttons {
        flex-direction: row;
        margin-top: -40px;
        gap: 0.5rem;
    }
}


/* Responsive Design */
@media (max-width: 786px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 2rem 2rem;
        background: #FFEFEF;
    }
/* Hero Section */
.hero-section {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding: 3rem;
    background: #FFEFEF;
    height: 120vh;
}
.content {
    flex: 1 1 50%;
    padding: 0.5rem;
    text-align: left;
    margin-top: 50px;
    
}
.nav-icons{
    display: none;
}
.nav-icons>span{
    margin-right: 25px;
  }
  

    .hero-section {
    flex-direction: row;
       
    }
    .hero-image > span >img{
        width: 300px;
        height: 300px;
       }

    .hero-image {
        margin-top: -2rem;
      
    }

    .hero-section h1 {
        font-size: 1.1rem;
    }
    .hero-section p {
        margin-bottom: 6rem;
        font-size: 0.3rem;
        justify-content: right;
        color: #7B7E86;
        text-align: left;
    }
    

    .cta-buttons {
        flex-direction: row;
        margin-top: -40px;
        gap: 0.5rem;
    }
}

/* Responsive Design */
@media (max-width: 697px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 2rem 2rem;
        background: #FFEFEF;
    }
/* Hero Section */
.hero-section {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding: 3rem;
    background: #FFEFEF;
    height: 120vh;
}
.content {
    flex: 1 1 50%;
    padding: 0.5rem;
    text-align: left;
    margin-top: 50px;
    
}
.nav-icons{
    display: none;
}
.nav-icons>span{
    margin-right: 25px;
  }
  

    .hero-section {
    flex-direction: row;
       
    }
    .hero-image > span >img{
        width: 250px;
        height: 250px;
       }

    .hero-image {
        margin-top: -2rem;
      
    }

    .hero-section h1 {
        font-size: 1.1rem;
    }
    .hero-section p {
        margin-bottom: 4rem;
        font-size: 0.3rem;
        justify-content: right;
        color: #7B7E86;
        text-align: left;
    }
    

    .cta-buttons {
        flex-direction: row;
        margin-top: -40px;
        gap: 0.5rem;
    }
}

/* Responsive Design */
@media (max-width: 696px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 2rem 2rem;
        background: #FFEFEF;
    }
/* Hero Section */
.hero-section {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding: 3rem;
    background: #FFEFEF;
    height: 120vh;
}
.content {
    flex: 1 1 50%;
    padding: 0.5rem;
    text-align: left;
    margin-top: 50px;
    
}
.nav-links {
    display: flex;
    gap: 40px;
    list-style: none;
    display: none;
}

.nav-icons{
display: flex;
justify-content: center;
align-items: center;
  }
  
  
.nav-icons>span{
    margin-right: 25px;
  }
  

    .hero-section {
    flex-direction: row;
       
    }
    .hero-image > span >img{
        width: 250px;
        height: 250px;
       }

    .hero-image {
        margin-top: -2rem;
      
    }

    .hero-section h1 {
        font-size: 1.1rem;
    }
    .hero-section p {
        margin-bottom: 4rem;
        font-size: 0.3rem;
        justify-content: right;
        color: #7B7E86;
        text-align: left;
    }
    

    .cta-buttons {
        flex-direction: row;
        margin-top: -40px;
        gap: 0.5rem;
    }
}



/* Responsive Design */
@media (max-width: 600px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 2rem 2rem;
        background: #FFEFEF;
    }
/* Hero Section */
.hero-section {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding: 3rem;
    background: #FFEFEF;
    height: 120vh;
}
.content {
    flex: 1 1 50%;
    padding: 0.5rem;
    text-align: left;
    margin-top: 50px;
    
}
.nav-links {
    display: flex;
    gap: 40px;
    list-style: none;
    display: none;
}

.nav-icons{
display: flex;
justify-content: center;
align-items: center;
  }
  
  
.nav-icons>span{
    margin-right: 25px;
  }
  

    .hero-section {
    flex-direction: row;
       
    }
    .hero-image > span >img{
        width: 225px;
        height: 225px;
       }

    .hero-image {
        margin-top: -1rem;
      
    }

    .hero-section h1 {
        font-size: 0.80rem;
    }
    .hero-section p {
        margin-bottom: 4rem;
        font-size: 0.2rem;
        justify-content: right;
        color: #7B7E86;
        text-align: left;
    }
    

    .cta-buttons {
        flex-direction: row;
        margin-top: -40px;
        gap: 0.5rem;
    }
}


/* Responsive Design */
@media (max-width: 545px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 2rem 2rem;
        background: #FFEFEF;
    }
/* Hero Section */
.hero-section {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding: 3rem;
    background: #FFEFEF;
    height: 80vh;
}
.content {
    flex: 1 1 50%;
    padding: 0.5rem;
    text-align: left;
    margin-top: 50px;
    
}
.nav-links {
    display: flex;
    gap: 40px;
    list-style: none;
    display: none;
}

.nav-icons{
display: flex;
justify-content: center;
align-items: center;
  }
  
  
.nav-icons>span{
    margin-right: 25px;
  }
  

    .hero-section {
    flex-direction: row;
       
    }
    .hero-image > span >img{
        width: 210px;
        height: 210px;
       }

    .hero-image {
        margin-top: -0rem;
      
    }

    .hero-section h1 {
        font-size: 0.80rem;
    }
    .hero-section p {
        margin-bottom: 4rem;
        font-size: 0.2rem;
        justify-content: right;
        color: #7B7E86;
        text-align: left;
    }
    

    .cta-buttons {
        flex-direction: row;
        margin-top: -40px;
        gap: 0.5rem;
    }
}

/* Responsive Design */
@media (max-width: 511px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 2rem 2rem;
        background: #FFEFEF;
    }
/* Hero Section */
.hero-section {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding: 3rem;
    background: #FFEFEF;
    height: 80vh;
}
.content {
    flex: 1 1 40%;
    padding: 0.5rem;
    text-align: left;
    margin-top: 50px;
    
}
.nav-links {
    display: flex;
    gap: 40px;
    list-style: none;
    display: none;
}

.nav-icons{
display: flex;
justify-content: center;
align-items: center;
  }
  
  
.nav-icons>span{
    margin-right: 25px;
  }
  

    .hero-section {
    flex-direction: row;
       
    }
    .hero-image > span >img{
        width: 210px;
        height: 210px;
       }

    .hero-image {
        margin-top: -0rem;
      
    }

    .hero-section h1 {
        font-size: 0.80rem;
    }
    .hero-section p {
        margin-bottom: 4rem;
        font-size: 0.2rem;
        justify-content: right;
        color: #7B7E86;
        text-align: left;
    }
    

    .cta-buttons {
        flex-direction: row;
        margin-top: -40px;
        gap: 0.5rem;
    }
}


/* Responsive Design */
@media (max-width: 483px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 2rem 2rem;
        background: #FFEFEF;
    }
/* Hero Section */
.hero-section {
    display: flex;
    width: 100%;
   flex-direction: column;
    padding: 3rem;
    background: #FFEFEF;
    height: 80vh;
}
.content {
    flex: 1 1 40%;
    padding: 0.5rem;
    text-align: left;
    margin-top: 50px
}
.nav-links {
    display: flex;
    gap: 40px;
    list-style: none;
    display: none;
}

.nav-icons{
display: flex;
justify-content: center;
align-items: center;
  }
  
  
.nav-icons>span{
    margin-right: 25px;
  }
  

    .hero-section {
    flex-direction: row;
       
    }
    .hero-image > span >img{
        width: 300px;
        height: 300px;
       }

    .hero-image {
        margin-top: -0rem;
        margin-left: 40px;
      
    }

    .hero-section h1 {
        font-size: 0.80rem;
    }
    .hero-section p {
        margin-bottom: 4rem;
        font-size: 0.2rem;
        justify-content: right;
        color: #7B7E86;
        text-align: left;
    }
    

    .cta-buttons {
        flex-direction: row;
        margin-top: -40px;
        gap: 0.5rem;
    }
}






/* Responsive Design */
@media (max-width: 483px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 2rem 2rem;
        background: #FFEFEF;
    }
/* Hero Section */
.hero-section {
    display: flex;
    width: 100%;
   flex-direction: column;
    padding: 3rem;
    background: #FFEFEF;
    height: 80vh;
}
.content {
    flex: 1 1 40%;
    padding: 0.5rem;
    text-align: left;
    margin-top: 50px
}
.nav-links {
    display: flex;
    gap: 40px;
    list-style: none;
    display: none;
}

.nav-icons{
display: flex;
justify-content: center;
align-items: center;
  }
  
  
.nav-icons>span{
    margin-right: 25px;
  }
  

    .hero-section {
    flex-direction: row;
       
    }
    .hero-image > span >img{
        width: 300px;
        height: 300px;
       }

    .hero-image {
        margin-top: -0rem;
        margin-left: 40px;
      
    }

    .hero-section h1 {
        font-size: 0.80rem;
    }
    .hero-section p {
        margin-bottom: 4rem;
        font-size: 0.2rem;
        justify-content: right;
        color: #7B7E86;
        text-align: left;
    }
    

    .cta-buttons {
        flex-direction: row;
        margin-top: -40px;
        gap: 0.5rem;
    }
}

/* Responsive Design */
@media (max-width: 512px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 2rem 2rem;
        background: #FFEFEF;
    }
/* Hero Section */
.hero-section {
    display: flex;
    width: 100%;
   flex-direction: column;
    padding: 3rem;
    background: #FFEFEF;
    height: 100vh;
}
.content {
    flex: 1 1 40%;
    padding: 0.5rem;
    text-align: left;
    margin-top: 50px
}
.nav-links {
    display: flex;
    gap: 40px;
    list-style: none;
    display: none;
}

.nav-icons{
display: flex;
justify-content: center;
align-items: center;
  }
  
  
.nav-icons>span{
    margin-right: 25px;
  }
  

    .hero-section {
    flex-direction: row;
       
    }
    .hero-image > span >img{
        width: 300px;
        height: 300px;
       }

    .hero-image {
        margin-top: -0rem;
        margin-left: 40px;
      
    }

    .hero-section h1 {
        font-size: 0.80rem;
    }
    .hero-section p {
        margin-bottom: 4rem;
        font-size: 0.2rem;
        justify-content: right;
        color: #7B7E86;
        text-align: left;
    }
    

    .cta-buttons {
        flex-direction: row;
        margin-top: -40px;
        gap: 0.5rem;
    }
}



/* Responsive Design */
@media (max-width: 450px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 2rem 2rem;
        background: #FFEFEF;
    }
/* Hero Section */
.hero-section {
    display: flex;
    width: 100%;
   flex-direction: column;
    padding: 3rem;
    background: #FFEFEF;
    height: 100vh;
}
.content {
    flex: 1 1 40%;
    padding: 0.5rem;
    text-align: left;
    margin-top: 50px
}
.nav-links {
    display: flex;
    gap: 40px;
    list-style: none;
    display: none;
}

.nav-icons{
display: flex;
justify-content: center;
align-items: center;
gap: 1px;
  }
  
  
.nav-icons>span{
    margin-right: 10px;
  }
  

    .hero-section {
    flex-direction: row;
       
    }
    .hero-image > span >img{
        width: 300px;
        height: 300px;
       }

    .hero-image {
        margin-top: -0rem;
        margin-left: 30px;
      
    }

    .hero-section h1 {
        font-size: 0.80rem;
    }
    .hero-section p {
        margin-bottom: 4rem;
        font-size: 0.2rem;
        justify-content: right;
        color: #7B7E86;
        text-align: left;
    }
    

    .cta-buttons {
        flex-direction: row;
        margin-top: -40px;
        gap: 0.5rem;
    }
}



/* Responsive Design */
@media (max-width: 448px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 2rem 2rem;
        background: #FFEFEF;
    }
/* Hero Section */
.hero-section {
    display: flex;
    width: 100%;
   flex-direction: column;
    padding: 3rem;
    background: #FFEFEF;
    height: 100vh;
}
.content {
    flex: 1 1 40%;
    padding: 0.5rem;
    text-align: left;
    margin-top: 50px
}
.nav-links {
    display: flex;
    gap: 40px;
    list-style: none;
    display: none;
}

.nav-icons{
display: flex;
justify-content: center;
align-items: center;
gap: 1px;
  }
  
  
.nav-icons>span{
    margin-right: 10px;
  }
  

    .hero-section {
    flex-direction: row;
       
    }
    .hero-image > span >img{
        width: 300px;
        height: 300px;
       }

    .hero-image {
        margin-top: -0rem;
        margin-left: 20px;
      
    }

    .hero-section h1 {
        font-size: 0.80rem;
    }
    .hero-section p {
        margin-bottom: 4rem;
        font-size: 0.2rem;
        justify-content: right;
        color: #7B7E86;
        text-align: left;
    }
    

    .cta-buttons {
        flex-direction: row;
        margin-top: -40px;
        gap: 0.5rem;
    }
}

/* Responsive Design */
@media (max-width: 438px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 2rem 2rem;
        background: #FFEFEF;
    }
/* Hero Section */
.hero-section {
    display: flex;
    width: 100%;
   flex-direction: column;
    padding: 3rem;
    background: #FFEFEF;
    height: 100vh;
}
.content {
    flex: 1 1 40%;
    padding: 0.5rem;
    text-align: left;
    margin-top: 50px
}
.nav-links {
    display: flex;
    gap: 40px;
    list-style: none;
    display: none;
}

.nav-icons{
display: flex;
justify-content: center;
align-items: center;
gap: 1px;
  }
  
  
.nav-icons>span{
    margin-right: 10px;
  }
  

    .hero-section {
    flex-direction: row;
       
    }
    .hero-image > span >img{
        width: 300px;
        height: 300px;
       }

    .hero-image {
        margin-top: -0rem;
        margin-left: 20px;
      
    }

    .hero-section h1 {
        font-size: 0.80rem;
    }
    .hero-section p {
        margin-bottom: 4rem;
        font-size: 0.2rem;
        justify-content: right;
        color: #7B7E86;
        text-align: left;
    }
    

    .cta-buttons {
        flex-direction: row;
        margin-top: -40px;
        gap: 0.5rem;
    }
}


/* Responsive Design */
@media (max-width: 388px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 2rem 2rem;
        background: #FFEFEF;
    }
/* Hero Section */
.hero-section {
    display: flex;
    width: 100%;
   flex-direction: column;
    padding: 3rem;
    background: #FFEFEF;
    height: 100vh;
}
.content {
    flex: 1 1 40%;
    padding: 0.5rem;
    text-align: left;
    margin-top: 50px
}
.nav-links {
    display: flex;
    gap: 40px;
    list-style: none;
    display: none;
}

.nav-icons{
display: flex;
justify-content: center;
align-items: center;
gap: 1px;
  }
  
  
.nav-icons>span{
    margin-right: 10px;
  }
  

    .hero-section {
    flex-direction: row;
       
    }
    .hero-image > span >img{
        width: 300px;
        height: 300px;
       }

    .hero-image {
        margin-top: -0rem;
        margin-left: -10px;
      
    }

    .hero-section h1 {
        font-size: 0.80rem;
    }
    .hero-section p {
        margin-bottom: 4rem;
        font-size: 0.2rem;
        justify-content: right;
        color: #7B7E86;
        text-align: left;
    }
    

    .cta-buttons {
        flex-direction: row;
        margin-top: -40px;
        gap: 0.5rem;
    }
}

/* Responsive Design */
@media (max-width: 360px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 2rem 2rem;
        background: #FFEFEF;
    }
/* Hero Section */
.hero-section {
    display: flex;
    width: 100%;
   flex-direction: column;
    padding: 3rem;
    background: #FFEFEF;
    height: 100vh;
}
.content {
    flex: 1 1 40%;
    padding: 0.5rem;
    text-align: left;
    margin-top: 50px
}
.nav-links {
    display: flex;
    gap: 40px;
    list-style: none;
    display: none;
}

.nav-icons{
display: none;
}
  
  
.nav-icons>span{
    margin-right: 10px;
  }
  

    .hero-section {
    flex-direction: row;
       
    }
    .hero-image > span >img{
        width: 300px;
        height: 300px;
       }

    .hero-image {
        margin-top: -2rem;
        margin-left: -35px;
      
    }

    .hero-section h1 {
        font-size: 0.80rem;
    }
    .hero-section p {
        margin-bottom: 4rem;
        font-size: 1rem;
        justify-content: right;
        color: #7B7E86;
        text-align: left;
    }
    

    .cta-buttons {
        flex-direction: row;
        margin-top: -40px;
        gap: 0.5rem;
    }
}






/* Responsive Design */
@media (max-width: 300px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 2rem 2rem;
        background: #FFEFEF;
    }
/* Hero Section */
.hero-section {
    display: flex;
    width: 100%;
   flex-direction: column;
    padding: 3rem;
    background: #FFEFEF;
    height: 100vh;
}
.content {
    flex: 1 1 40%;
    padding: 0.5rem;
    text-align: left;
    margin-top: 50px
}
.nav-links {
    display: flex;
    gap: 40px;
    list-style: none;
    display: none;
}

.nav-icons{
display: none;
}
  
  
.nav-icons>span{
    margin-right: 10px;
  }
  

    .hero-section {
    flex-direction: row;
       
    }
    .hero-image > span >img{
        width: 300px;
        height: 300px;
       }

    .hero-image {
        margin-top: -5rem;
        margin-left: -60px;
      
    }

    .hero-section h1 {
        font-size: 0.80rem;
    }
    .hero-section p {
        margin-bottom: 4rem;
        font-size: 0.2rem;
        justify-content: right;
        color: #7B7E86;
        text-align: left;
    }
    

    .cta-buttons {
        flex-direction: row;
        margin-top: -40px;
        gap: 0.5rem;
    }
}





























